<style>
div[id^="recipe_steps_"] {
    display : inline-flex;
    justify-content: space-between;
}

div[id^="recipe_ingredients_"] {
    display : inline-flex;
    justify-content: space-between;
}

label {
            color: black; /* Définit la couleur du texte des labels en noir */
            font-weight: 600
        }

</style>



{{ form_start(form)}}
    
<div class="container">
        <!-- Première ligne avec deux colonnes de taille égale -->
        <div class="row  bg-form border border-primary border-1 p-2 rounded mb-4">
            <div class="col-6 col-auto">
                {{ form_row(form.name) }}
            </div>
            <div class="col-6 ">
                {{ form_row(form.pic) }}
            </div>
        </div>

        <!-- Deuxième ligne avec une seule colonne prenant toute la largeur -->
        <div class="row  align-items-start" style="justify-content: space-between">
            <div class= "col-6 bg-form col-auto border border-primary border-1 p-2  rounded">
                <div id="steps" data-prototype="{{ form_row(form.steps.vars.prototype)|e('html_attr') }}">
                    <center><div class="mb-4 align-items-center">{{ form_label(form.steps)}}</div></center>
                    <span></span>
                </div>
            </div>
            <div class="col-5  bg-form col-auto border border-primary border-1 p-2  rounded">
                <div id="ingredients" data-prototype="{{ form_row(form.ingredients.vars.prototype)|e('html_attr') }}">
                    <center><div class="mb-3 align-items-center">{{ form_label(form.ingredients)}}</div></center>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row mt-2">

        <!-- Troisième ligne avec une seule colonne prenant toute la largeur -->

    </div>

    {{ form_row(form.valider) }}

    {{ form_end(form)}}


{% block javascripts %} 
    <script>
        let collection, boutonAjout, span, ingCollection, ingBoutonAjout, ingSpan;
        window.onload = () => {
            collection = document.querySelector("#steps");
            span = collection.querySelector("span");

            boutonAjout = document.createElement("button");
            let plus = document.createElement("i");
            boutonAjout.className="btn custom-btn-outline-success rounded mt-2";
            plus.className="bi bi-plus-circle-fill icon-size"
            boutonAjout.appendChild(plus);
            span.appendChild(boutonAjout);
            boutonAjout.type = "button";
            let nouveauBouton = span.append(boutonAjout);

            // Récupérez tous les inputs déjà présents
            let inputs = collection.querySelectorAll("input");
            inputs.forEach(function(input, index) {
                // Créez un bouton de suppression pour chaque input
                let boutonSuppr = document.createElement("button");
                boutonSuppr.type = "button";
                boutonSuppr.innerText = "Supprimer cette étape";
                boutonSuppr.id = "delete-step-" + index;
                boutonSuppr.className = "btn btn-warning";
            
                // Ajoutez l'écouteur d'événements pour supprimer l'étape
                boutonSuppr.addEventListener("click", function(){
                    this.parentElement.remove();
                });

            // Ajoutez le bouton de suppression à côté de l'input
            input.parentNode.appendChild(boutonSuppr);
            });

            collection.dataset.index = collection.querySelectorAll("input").length;

            boutonAjout.addEventListener("click", function(){
                addButton(collection, nouveauBouton);
            });

            

            ingCollection = document.querySelector("#ingredients");
            ingSpan = ingCollection.querySelector("span");

            ingBoutonAjout = document.createElement("button");
            let ingPlus = document.createElement("i");
            ingBoutonAjout.className="btn custom-btn-outline-success rounded mt-2";
            ingPlus.className="bi bi-plus-circle-fill icon-size"
            ingBoutonAjout.appendChild(ingPlus);
            ingSpan.appendChild(ingBoutonAjout);
            ingBoutonAjout.type = "button";
            let ingNouveauBouton = ingSpan.append(ingBoutonAjout);


            // Récupérez tous les inputs déjà présents
            let ingInputs = ingCollection.querySelectorAll("input");
            ingInputs.forEach(function(ingInput, ingIndex) {
                // Créez un bouton de suppression pour chaque input
                let ingBoutonSuppr = document.createElement("button");
                ingBoutonSuppr.type = "button";
                ingBoutonSuppr.innerText = "Supprimer cet ingrédient";
                ingBoutonSuppr.id = "delete-ingredient-" + ingIndex;
                ingBoutonSuppr.className = "btn btn-danger";
            
                // Ajoutez l'écouteur d'événements pour supprimer l'étape
                ingBoutonSuppr.addEventListener("click", function(){
                    this.parentElement.remove();
                });

            // Ajoutez le bouton de suppression à côté de l'input
            ingInput.parentNode.appendChild(ingBoutonSuppr);
            });

            ingCollection.dataset.index = ingCollection.querySelectorAll("input").length;

            ingBoutonAjout.addEventListener("click", function(){
                ingAddButton(ingCollection, ingNouveauBouton);
            });
        }
        

        function addButton(collection, nouveauBouton){
            let prototype = collection.dataset.prototype;

            let index = collection.dataset.index;

            prototype = prototype.replace(/__name__/g, index);

            let content = document.createElement("html");
            content.innerHTML = prototype;
            let newForm = content.querySelector("div");
        
            newForm.classList.add("row");
            let divSuppr = document.createElement("div");
            divSuppr.className="col-1 centered";
            
            let boutonSuppr = document.createElement("button");
            boutonSuppr.type = "button";
            boutonSuppr.id = "delete-step-" + index;
            boutonSuppr.className = "btn custom-btn-outline-danger bouton-suppr-form ";
            let icon = document.createElement("i");
            icon.className = "bi bi-trash icon-size";
            
            divSuppr.appendChild(boutonSuppr);
            
        

            

            span.insertBefore(newForm, boutonAjout);
            let targetDiv = document.getElementById("recipe_steps_" + index);
            targetDiv.appendChild(divSuppr);
            boutonSuppr.appendChild(icon);
            collection.dataset.index++
            
            boutonSuppr.addEventListener("click", function(){
                this.closest('.row').remove();
            })

        }

        function ingAddButton(ingCollection, ingNouveauBouton){
            let ingPrototype = ingCollection.dataset.prototype;

            let index = ingCollection.dataset.index;

            ingPrototype = ingPrototype.replace(/__name__/g, index);

            let ingContent = document.createElement("html");
            ingContent.innerHTML = ingPrototype;
            let ingNewForm = ingContent.querySelector("div");
            ingNewForm.classList.add("row");

            let ingBoutonSuppr = document.createElement("button");
            ingBoutonSuppr.type = "button";
            ingBoutonSuppr.id = "delete-ingredient-" + index;
            ingBoutonSuppr.className = "btn custom-btn-outline-danger bouton-suppr-form ";
            let divSuppr = document.createElement("div");
            divSuppr.className="col-1 centered";
            let icon = document.createElement("i");
            icon.className = "bi bi-trash icon-size";
            divSuppr.appendChild(ingBoutonSuppr);
            ingSpan.insertBefore(ingNewForm, ingBoutonAjout);
            let targetDiv = document.getElementById("recipe_ingredients_" + index);
            targetDiv.appendChild(divSuppr);
            ingBoutonSuppr.appendChild(icon);
            ingCollection.dataset.index++
            
           ;
            ingBoutonSuppr.addEventListener("click", function(){
                 this.closest('.row').remove();
            })

        }
    </script>
{% endblock %}


