<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %} 
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top custom-navbar-height">
				<div class="container-fluid">
					<a class="navbar-brand" href="https://mactu.ampmetropole.fr/">
    					<img src="{{ asset('images/Logo_app.png') }}" alt="Logo de l'application">
					</a>
					<a class="nav-link active" style="color: white" href="">Accueil
						<span class="visually-hidden">(current)</span>
					</a>

					<a class="nav-link active" target="_blank" style="color: white; margin-left: 5%" href="">Aide?
						<span class="visually-hidden">(current)</span>
					</a>
					
					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav ms-auto">
							<li class="nav-item">
								<div class="nav-link " style="text-transform: none; font-style: italic; ">{{ app.user.username }}</div>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="">Déconnexion
									<span class="visually-hidden">(current)</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
        {% block body %}{% endblock %}
    </body>
   
</html>
